.name{
    display: flex;
    margin:auto;
}

.country{
    display: flex;
    margin-top: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav li{
    padding: 5px;
}

nav a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;   
    transition: background-color 0.3s ease;
    color: blue;
    padding: 5px;
    border-radius: 10px;
    
}

nav a:hover {
    color: #ffffff;
    background-color:blue;
    padding: 5px;

}

header h1 {
    background-color: hsl(240, 70%, 31%);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: inline-block;
    width: 100%;
}

header .name {
    color: yellow;
    display: inline-block;
}

.card h2 {
    background-color:  hsl(240, 70%, 31%);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.card h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
    display: block;
    height: 2rem;
    margin: auto;
    width: 50%;
}

.card a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.card {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card {
    flex: 45%;
    margin: 10px;
    padding: 1rem;
}

.card {
    flex: 1;
  }
  
  .card:first-child {
    flex: 2;
  }

footer {
    background-color:  hsl(240, 70%, 31%);
}

footer p {
    color: white;
    text-align: center;
}

main {
    max-width: fit-content;
    margin: 0 auto;
}
