:root {
    --primary-color: rgb(0, 0, 154);
    --secondary-color: rgb(198, 0, 0);
}

header {
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    text-align: center;
    width: 100%; /**/
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 100px;
    padding: 50px;
    margin: 0;
}

header h1::after {
    content: " ☀️";
    font-size: inherit;
    padding-left: 10px;
}

.header-with-image img {
    position: absolute;
    width: 50px;height: 50px;
}

.empty-space {
    background-color: var(--secondary-color);
    padding: 20px;
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.hero-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    margin: 0;
}


.hero-image aside {
    position: absolute;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-sizing: border-box;
}

.hero-image aside:first-of-type {
    top: 20px;
    left: 20px;
}

.hero-image aside:last-of-type {
    bottom: 20px;
    right: 20px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    margin: 0%;
    padding: 10px;
    width: 100%;
}

.data-card > div:first-child {
    font-weight: bold;
    text-align: left;
}
.data-card p {
    text-align: right;
    padding-left: 20px;
}

.second-div p{
    text-align: left;
}

.data-card {
    width: 300px;
    border-radius: 8px;
    position: relative;
    padding-top: 60px;
    display: flex;
}
  
aside h2 {
    background-color: #d5da47;
    color: white;
    margin: 0;
    padding: 10px 15px;
    position: relative;
    top: 20px;
    left: -20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: black;
    width: 250px;
    text-align: center;
    box-sizing: border-box;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

aside {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}